body {
    width: 100%;
    height: 100%;
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        background-color: #0c051a;
    }

    50% {
        background-color: #7b3bcf;
    }

    100% {
        background-color: #0c051a;
    }


}

#triangle {
    width: 0;
    height: 0;
    margin-left: 460px;
    margin-top: 20px;
    border-top: 70px solid transparent;
    border-right: 140px solid #de13f7;
    border-bottom: 70px solid transparent;
}
#circle {
    width: 100px;
    height: 100px;
    background: #af2eff;
    margin-left: 500px;
    margin-top: 10px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}
.rect {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    
    animation: switch 5s linear 2s infinite alternate;

}

@keyframes switch {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.rotate-right 
{
    width: 100px;
    height: 100px;
    margin-left: 500px;
    background-color: rgb(153, 14, 153);
    
    animation:rotate-right  .5s cubic-bezier(.455, .03, .515, .955) both 
}

@keyframes rotate-right {
    0% {
        transform: rotate(0);
        transform-origin: right
    }

    100% {
        transform: rotate(360deg);
        transform-origin: right
    }
}

html,
body {
    height: 100%;
}