@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
	background-color: #242322;
	font-family: 'Muli', sans-serif;
	text-align: center;
}

p {
	font-size: 24px;
	color: rgb(127, 255, 212);

}

a {
	font-size: 24px;
	color: rgb(86, 86, 185);
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(84, 129, 111);
	letter-spacing: 1px;
	font-size: 0.8rem;
	font-family: 'Muli', sans-serif;
	margin: auto;

}

td,
th {
	border: 1px solid rgb(84, 129, 111);
	padding: 10px 20px;
	color: rgb(190, 235, 220);
}

td {
	text-align: center;
	color: rgb(190, 235, 220);
}

caption {
	padding: 10px;
}

h3{
	font-size: 24px;
	color: rgb(127, 255, 212);
}